.main {
  /* --background_color: #ececec; */
  /* --main_color: #cbcfd2; */
  /* --auxilary_color: #8b929a; */
  /* --accent_color: #767b8d; */
  color: var(--main_color);
}

.intro {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  transition: all 0.8s ease;
}

.profile_picture {
  width: 50vw;
  flex-shrink: 0;
}

.descriptors {
  color: var(--auxilary_color);
  margin-bottom: 2rem;
  max-width: 100%;
  flex-grow: 1;
}

.activities {
  display: flex;
  max-width: 100%;
  width: 95vw;
  gap: 2rem;
  overflow: hidden;
}

.activity {
  flex: 1 1;
  /* Responsive base width for each activity with gap consideration */
  box-sizing: border-box;
  /* Required for padding and border to be included in the width */
  margin-bottom: 2rem;
  /* Add bottom margin for vertical spacing */
}

.activity img {
  max-width: 28vw;
}

/*Let's change the flex to columns if we run out of space on a smaller screen*/
@media screen and (max-width: 600px) {
  .intro {
    flex-direction: column;
  }

  .activities {
    flex-direction: column;
  }

  .activity img {
    max-width: 100%;
  }

  .profile_picture {
    width: 100%;
  }
}
