.professional_experiences, .education_section{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 1rem;
  /* background-color: red; */
}

.title_and_company {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-size: 1.5rem;
}

.blurb {
  flex: 1;
  text-align: left;
  white-space: pre-line;
}

.spacer {
  margin-left: 0.5rem;
}
